* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

a.active {
    background: red;
    padding: 7px 15px;
    border-radius: 4px;
}


p {
    color: #555;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding-right: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
    padding: 15px 30px;
    margin: 30px 0;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.header {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.header .row {
    margin-top: 70px;
}

.categories,
.latest-products {
    margin: 75px 0;
}

.products {
    background-color: azure;
    margin: auto;
}

.categories h3,
.latest-products h3 {
    position: relative;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 45px;
}

.products h3 {
    position: relative;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin: 75px auto 45px;
}

.title::after {
    content: '';
    background: #43e97b;
    position: absolute;
    width: 80px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 20px;
}

.col-3 img {
    width: 100%;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 80px;
    /* margin-left: 10px;
    margin-right: 10px; */
    transition: transform 0.5s;
    /* box-shadow: 1px 2px 3px aqua; */
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
}

.products h4 {
    color: #333;
    font-weight: normal;
}

.offer {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    margin-top: 80px;
    padding: 30px 0;
}

.offer img {
    padding: 50px;
}

small {
    color: #555;
}

.testimonials,
.brands {
    margin: 100px 0;
}

.testimonials .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s;
}

.testimonials .col-3:hover {
    transform: translateY(-10px);
}

.testimonials .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.fa.fa-quote-left {
    font-size: 36px;
    color: #ff523b;
}

.testimonials .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}

.testimonials .col-3 h3 {
    font-weight: 700;
    color: #555;
    font-size: 15px;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%)
}

.col-5 img:hover {

    filter: grayscale(0)
}

/* Footer */
.footer {
    background: #000;
    padding: 60px 0 20px;
    color: #8a8a8a;
    font-size: 16px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.row1 {
    justify-content: space-around;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    padding-bottom: 80px;
}

.page-btn span {
    display: inline;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    padding: 12px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

/* Responsive */
.menu-icon {
    width: 28px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
    }

}

@media only screen and (max-width:600px) {
    .row {
        text-align: center;

    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}