@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .section-padding .container-fluid {
    padding: 0 65px;
  }

  /* Header Section */
  .header__main-menu.header__menu-common
    nav
    ul
    li
    ul.header__mega-menu.header__mega-menu-nmg {
    left: -460px;
  }

  .header__main-menu.header__menu-common.header__menu-ma > nav > ul > li {
    margin-right: 38px;
  }

  .header__main-menu.header__menu-common.header__menu-ma.header__menu-res
    > nav
    > ul
    > li {
    margin-right: 55px;
  }

  .header__main-menu.header__menu-common.header__menu-ma.header__menu-res
    > nav
    > ul
    > li:last-child {
    margin-right: 0;
  }

  .nav__category-menu nav > ul > li {
    margin-bottom: 8px;
  }

  .nav__category-menu nav > ul > li .nav__category-menu-dropdown.res__height {
    height: 280px;
    overflow-y: auto;
  }

  /* Header Ends */
  .slider__single-img.slider__single-mr {
    margin-left: -80px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .section-padding .container-fluid {
    padding: 0 15px;
  }
  /* Header Section */
  .header__main-menu.header__menu-common
    nav
    ul
    li
    ul.header__mega-menu.header__mega-menu-nmg {
    left: -520px;
  }

  .header__main-menu.header__menu-common.header__menu-ma > nav > ul > li {
    margin-right: 32px;
  }

  .header__main-menu.header__menu-common.header__menu-ma.header__menu-res
    > nav
    > ul
    > li {
    margin-right: 60px;
  }

  .header__main-menu.header__menu-common.header__menu-ma.header__menu-res
    > nav
    > ul
    > li:last-child {
    margin-right: 0;
  }

  .shopping__cart-content {
    max-height: 400px;
  }

  .nav__category-menu nav > ul > li {
    margin-bottom: 8px;
  }

  .nav__category-menu nav > ul > li .nav__category-menu-dropdown.res__height {
    height: 280px;
    overflow-y: auto;
  }
  /* Header Ends */
  .slider__single-img.slider__single-mr {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-padding .container-fluid {
    padding: 0 30px;
  }

  /* Header Section */
  .header__main-menu.header__menu-common nav ul li {
    margin-right: 28px;
  }

  .header__main-menu.header__menu-common nav ul li ul.header__mega-menu {
    width: 900px;
    left: -320px;
  }

  .header__main-menu.header__menu-common
    nav
    ul
    li
    ul.header__mega-menu.header__mega-menu-nmg {
    left: -470px;
  }

  .header__main-menu.header__menu-common.header__menu-ma > nav > ul > li {
    margin-right: 27px;
  }

  .header__main-menu.header__menu-common.header__menu-ma.header__menu-res
    > nav
    > ul
    > li {
    margin-right: 50px;
  }

  .header__main-menu.header__menu-common.header__menu-ma.header__menu-res
    > nav
    > ul
    > li:last-child {
    margin-right: 0;
  }

  .shopping__cart-content {
    overflow-y: auto;
    height: 400px;
  }

  .header__contact-center
    .header__search
    .header__side__menu-search-form
    input {
    width: 285px;
  }

  .header__contact-center.header__contact-center-mr {
    margin: 0 30px;
  }

  .nav__category-menu nav > ul > li {
    margin-bottom: 6px;
  }

  .nav__category-menu nav > ul > li .nav__category-menu-dropdown.res__height {
    height: 280px;
    overflow-y: auto;
  }
  /* Header Ends */
  .slider__content h1 {
    font-size: 55px;
    margin: 20px 0 14px;
  }

  .slider__content p {
    font-size: 22px;
  }

  .slider__single-img.slider__single-mr {
    margin-left: -80px;
  }

  .slider__content h3 {
    font-size: 70px;
  }

  .section__title p {
    width: 52%;
  }

  .product__details-content h2 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding .container-fluid {
    padding: 0 45px;
  }

  /* Header Section */
  .header__area-main {
    display: none;
  }

  .mobile__header {
    display: block;
  }

  .shopping__cart-content {
    overflow-y: auto;
    height: 350px;
    margin-top: 18px;
    top: 100%;
    margin-top: 14px;
  }

  .nav__category-menu {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .mobile__category-menu {
    display: block;
  }
  /* Header Ends */

  /* Footer Starts */
  .footer__area-widget
    .footer__area-subscribe
    .footer__area-subscribe__form
    .footer__area-form
    input {
    padding: 2px 40px 2px 0;
  }

  .footer__area-widget
    .footer__area-subscribe
    .footer__area-subscribe__form
    .footer__area-form
    .footer__clear {
    background: rgba(0, 0, 0, 0)
      url("../../assets/images/icon-img/footer-search.png") no-repeat scroll
      right 0px center;
  }
  /* Footer Ends */

  /* Slider Starts */
  .slider__content h3 {
    font-size: 65px;
  }

  .slider__content h1 {
    font-size: 50px;
    margin: 10px 0 14px;
  }

  .slider__content.ml-70 {
    margin-left: 0;
  }

  .slider__single-img.slider__single-mr {
    margin-left: -122px;
    margin-right: 0;
    margin-top: 95px;
  }

  .section__title p {
    width: 69%;
  }

  /* Product Modal */
  .modal-dialog {
    width: 720px;
    max-width: 720px;
  }

  .product__details-content h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  /* Common css */
  .pt-85 {
    padding-top: 45px;
  }

  .pt-80 {
    padding-top: 50px;
  }

  .pt-90 {
    padding-top: 50px;
  }

  .pt-100 {
    padding-top: 50px;
  }

  .pt-120 {
    padding-top: 50px;
  }

  .pb-50 {
    padding-bottom: 20px;
  }

  .pb-70 {
    padding-bottom: 20px;
  }

  .pb-90 {
    padding-bottom: 50px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .pb-135 {
    padding-bottom: 86px;
  }

  /* ScrollUp */
  #scrollUp {
    width: 40px;
    height: 40px;
  }

  #scrollUp i {
    line-height: 40px;
    font-size: 16px;
  }

  .section-padding .container-fluid {
    padding: 0 15px;
  }

  /* Header Section */
  .header__area-main {
    display: none;
  }

  .mobile__header {
    display: block;
  }

  .mobile__header-right .common button {
    font-size: 25px;
  }

  .mobile__header-right .header__cart button span {
    font-size: 16px;
    margin-left: 4px;
  }

  .shopping__cart-content {
    width: 295px;
    right: 15px;
    padding: 31px 15px 10px;
    overflow-y: auto;
    height: 350px;
    top: 100%;
    margin-top: 14px;
  }

  .off__canvas-mobile-active {
    width: 260px;
    right: -260px;
  }

  .off__canvas-mobile-active .mobile__header-side {
    padding: 30px 20px 50px;
  }

  .off__canvas-mobile-active
    .mobile__header-side
    .side__menu-search
    form
    button {
    font-size: 16px;
  }

  .off__canvas-mobile-active .mobile__header-side .language {
    display: block;
  }

  .off__canvas-mobile-active .mobile__header-side .language .mobile__language {
    margin-bottom: 5px;
  }

  .off__canvas-mobile-active
    .mobile__header-side
    .language
    .mobile__language:last-child {
    margin-bottom: 0;
  }

  .mobile__header .mobile__header-right .off__canvas-mobile {
    margin-left: 12px;
  }

  .nav__category-menu {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .mobile__category-menu {
    display: block;
  }
  /* Header Ends */
  /* Footer Starts */
  .footer__area-widget .footer__area-title {
    margin: 0 0 18px;
  }

  .footer__area-widget .footer__area-subscribe.mt-45 {
    margin-top: 18px;
  }

  .footer__area-top.pb-85 {
    padding-bottom: 20px;
  }
  /* Footer Ends */
  /*Slider Starts*/
  .slider__area .slider__single-slide {
    display: block;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    padding: 0px 0 70px;
  }

  .slider__area .slider__single-slide.height-100vh {
    height: auto;
  }

  .slider__area .slider__area-nav .owl-nav .owl-prev {
    margin-bottom: 35px;
  }

  .slider__area .slider__area-nav .owl-nav .owl-next {
    margin-top: 35px;
  }

  .slider__area .slider__area-nav.slider__dot-left .owl-nav {
    left: 15px;
  }

  .slider__area .slider__area-dot .owl-dots {
    left: 15px;
  }

  .slider__content h3 {
    font-size: 50px;
  }

  .slider__content p {
    font-size: 18px;
    margin: 0px 0 30px;
  }

  .slider__content h1 {
    font-size: 40px;
    margin: 16px 0 10px;
  }

  .slider__content {
    margin-top: 35px;
    text-align: center;
  }

  .slider__content.ml-70 {
    margin-left: 0;
  }

  .slider__single-img.slider__single-mr {
    margin-left: 0px;
    margin-right: 0;
    margin-top: 130px;
  }
  /* Slider Ends */

  .product__wrap.mb-40 {
    margin-bottom: 30px;
  }

  .product__area.pb-60 {
    padding-bottom: 10px;
  }

  .product__wrap:hover .product__content .product-add-to-cart a {
    margin-right: 15px;
  }

  .section__title h2 {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 26px;
  }

  .section__title p {
    width: 100%;
  }

  .section__title.mb-40 {
    margin-bottom: 30px;
  }

  /* Product Modal */
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    padding: 35px 0;
  }

  .product__details-content h2 {
    font-size: 20px;
    margin: 7px 0 10px;
  }

  .product__details-content .product__ratting-review {
    margin: 0 0 15px;
  }

  .product__details-content .pro__details-color-wrap {
    margin: 0 0 15px;
  }

  .product__details-content .pro__details-size {
    margin: 0 0 15px;
  }

  .product__details-content .pro__details-price-wrap {
    margin: 0 0 15px;
  }

  .product__details-content .pro__details-price-wrap .product__price span {
    font-size: 20px;
  }

  .product__details-content .pro__details-compare-wishlist {
    margin: 15px 0 15px;
  }

  .product__details-content.quickview__content {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 766px) {
  .slider__content h3 {
    font-size: 45px;
  }

  .slider__content h1 {
    font-size: 32px;
    margin: 10px 0 10px;
  }

  .slider__content {
    margin-top: 70px;
    text-align: left;
  }

  .section__title p {
    width: 95%;
  }
}
